<h1>hi {{user}}</h1>
<header class="main_h sticky">
    
        <div class="row">
            <a class="logo sticky" href="#">Hella Social</a>
    
            <div class="mobile-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
    
            <nav>
                <ul>
                    <li><a href=".sec01">Home</a></li>
                    <li><a href=".sec02">Login</a></li>
                    <li><a href=".sec03">About Us</a></li>
                
                </ul>
            </nav>
        </div>
    </header>


      <div class="footer-right">

      <p class="footer-company-about">
        <span>About Hella Social</span>
        Making friends as an adult is hard. We take the awkward out of making friends.
      </p>

      <div class="footer-icons">
        <a href="https://github.com/AlexanderConnolly415"><i class="fa fa-github"></i></a>
        <a href="https://github.com/crystalngo88"><i class="fa fa-github"></i></a>
        <a href="https://github.com/Counttalkula666"><i class="fa fa-github"></i></a>
        <a href="https://github.com/adorkwithaspork"><i class="fa fa-github"></i></a>
        <a href="https://github.com/PeterMacDonnell"><i class="fa fa-github"></i></a>

      </div>

    </div>

  </footer>