<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hella Social!</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
  <link href='../../../Hella-Social/public/styles/messageboards.css' rel='stylesheet' type='text/css'>
</head>

<body>

  <h1>Message Board</h1>

  <div class="jumbotron">
    <h3 class="text-center">Talk about your interest!</h3>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p class="cool-font">Name</p>
        <input class="form-control" type="text" id="user" placeholder="Enter Your Name">
        <br>
        <p class="cool-font">Message</p>
        <textarea class="form-control" rows="3" id="message-box" placeholder="Enter Message Here!"></textarea>
        <p></p>
        <button id="message-submit" class="btn btn-outline-primary pull-right">Submit!</button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2>Messages</h2>
        <hr>
        <div id="message-area"></div>
      </div>
    </div>

  </div>

  <script type="text/javascript" src="../../models/message.js"></script>




  <!-- <div class="container">
  <img src="#" alt="Avatar" style="width:100%;">
  <p>Hello. How are you today?</p>
  <span class="time-right">11:00</span>
</div>

<div class="container darker">
  <img src="#" alt="Avatar" class="right" style="width:100%;">
  <p>Hey! I'm fine. Thanks for asking!</p>
  <span class="time-left">11:01</span>
</div>

<div class="container">
  <img src="#" alt="Avatar" style="width:100%;">
  <p>Sweet! So, what do you wanna do today?</p>
  <span class="time-right">11:02</span>
</div>

<div class="container darker">
  <img src="#" alt="Avatar" style="width:100%;">
  <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
  <span class="time-left">11:05</span>
</div> -->

</body>

</html>