<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hella Social Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/style.css" />
    <!-- this link has no file -->
    <link rel="stylesheet" type=text/css a href="assets/css/reset.css">
    <!-- this link has no file -->
    <script src="assets/javascript/app.js"></script>
    <!-- this link has no file -->
</head>
<!-- We would like the checkboxes to be the images selected for the interests we have. The images will grey out when you have selected them (like selecting pictures in your phone) and be limited to three choices. We would also like the images to allign to a grid. -->

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Hella Social Survey</h1>
          <p class="lead">Select your interests below:</p>

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="q1">
            <label class="form-check-label" for="q1">music</label>
          </div>
         
          <img src = "/images/music.jpg" alt="music img" style="width:150px;height:150px;">

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="q2">
            <label class="form-check-label" for="q2">sports</label>
          </div>

          <img src = "../../public/images/sports.jpg" alt="sports img" style="width:150px;height:150px;">

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="q3">
            <label class="form-check-label" for="q3">food</label>
          </div>

          <img source = "../../public/images/food.jpg" alt="food img" style="width:150px;height:150px;">

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="q4">
            <label class="form-check-label" for="q4">movies</label>
          </div>

          <img source = "../../public/images/movies.jpg" alt="movies img" style="width:150px;height:150px;">

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="q5">
            <label class="form-check-label" for="q5">LGBTQ+</label>
          </div>

          <img source = "../../public/images/LGBT.jpg" alt="music img" style="width:150px;height:150px;">

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="q6">
            <label class="form-check-label" for="q6">religion/spirituality</label>
          </div>

          <img source = "../../public/images/spiritual.jpg" alt="spiritual img" style="width:150px;height:150px;">

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="q7">
            <label class="form-check-label" for="q7">THICC lifestyle</label>
          </div>

          <img source = "../../public/images/thicc.jpg" alt="thicc img" style="width:150px;height:150px;">

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="q8">
            <label class="form-check-label" for="q8">technology</label>
          </div>

          <img source = "../../public/images/technology.jpg" alt="technology img" style="width:150px;height:150px;">

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="q9">
            <label class="form-check-label" for="q9">academic</label>
          </div>

          <img source = "../../public/images/education.jpg" alt="education img" style="width:150px;height:150px;">

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="q10">
            <label class="form-check-label" for="q10">family</label>
          </div>

          <img source = "../../public/images/family.jpg" alt="family img" style="width:150px;height:150px;">

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="q11">
            <label class="form-check-label" for="q11">arts and literature</label>
          </div>

          <img source = "../../public/images/artandlit.jpg" alt="artandlit img" style="width:150px;height:150px;">

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="q12">
            <label class="form-check-label" for="q12">dating</label>
          </div>

          <img source = "../../public/images/dating.jpg" alt="dating img" style="width:150px;height:150px;">

        </div>
      </div>
</body>
</html>