
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hella Social Survey</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/survey.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

</head>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1> Hello {{email}}</h1>

  

    {{!-- Elena's stuff --}}
    <div class="container">
      <h3>Hella Social Interest Categories - Select your interests below:</h3>
      <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
        <label class="image-checkbox ">
          <img class="img-responsive" src="/images/education.jpg" alt="music" data-name="music"/>
          <input type="checkbox" name="image[]" value="" />
          <i class="fa fa-check hidden"></i>
        </label>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
        <label class="image-checkbox">
          <img class="img-responsive" src="/images/sports.jpg" alt="sports" data-name="sports"/>
          <input type="checkbox" name="image[]" value="" />
          <i class="fa fa-check hidden"></i>
        </label>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
        <label class="image-checkbox">
          <img class="img-responsive" src="/images/food.jpg" alt="food" data-name="food"/>
          <input type="checkbox" name="image[]" value="" />
          <i class="fa fa-check hidden"></i>
        </label>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
        <label class="image-checkbox">
          <img class="img-responsive" src="/images/dating.jpg" alt="dating" data-name="dating"/>
          <input type="checkbox" name="image[]" value="" />
          <i class="fa fa-check hidden"></i>
        </label>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
        <label class="image-checkbox">
          <img class="img-responsive" src="/images/music.jpg" alt="music" data-name="music"/>
          <input type="checkbox" name="image[]" value="" />
          <i class="fa fa-check hidden"></i>
        </label>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
        <label class="image-checkbox">
          <img class="img-responsive" src="/images/LGBT.jpg" alt="LGBT" data-name="LGBT"/>
          <input type="checkbox" name="image[]" value="" />
          <i class="fa fa-check hidden"></i>
        </label>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
        <label class="image-checkbox">
          <img class="img-responsive" src="/images/technology.jpg" alt="technology" data-name="technology"/>
          <input type="checkbox" name="image[]" value="" />
          <i class="fa fa-check hidden"></i>
        </label>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
        <label class="image-checkbox">
          <img class="img-responsive" src="/images/spiritual.jpg" alt="spiritual" data-name="spiritual"/>
          <input type="checkbox" name="image[]" value="" />
          <i class="fa fa-check hidden"></i>
        </label>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
        <label class="image-checkbox">
          <img class="img-responsive" src="/images/movies.jpg" alt="movies" data-name="movies"/>
          <input type="checkbox" name="image[]" value="" />
          <i class="fa fa-check hidden"></i>
        </label>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
        <label class="image-checkbox">
          <img class="img-responsive" src="/images/artandlit.jpg" alt="artandlit" data-name="artandlit"/>
          <input type="checkbox" name="image[]" value="" />
          <i class="fa fa-check hidden"></i>
        </label>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
        <label class="image-checkbox">
          <img class="img-responsive" src="/images/family.jpg" alt="family" data-name="family"/>
          <input type="checkbox" name="image[]" value="" />
          <i class="fa fa-check hidden"></i>
        </label>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
        <label class="image-checkbox">
          <img class="img-responsive" src="/images/thicc.jpg" alt="thicc" data-name="thicc"/>
          <input type="checkbox" name="image[]" />
          <i class="fa fa-check hidden"></i>
        </label>
      </div>
      <button class="submitSurvey">Submit these!</button>

    </div>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/survey.js"></script>
    </body>


  </div>
</div>